---
name: "Audit"
on: # yamllint disable-line rule:truthy
  push:
  pull_request:
  schedule:
  - cron: "0 0 * * 1"
  workflow_dispatch:
jobs:
  Audit:
    runs-on: "ubuntu-24.04"
    steps:
    - uses: "actions/checkout@v4"
    - uses: "actions/setup-go@v5"
      with:
        go-version: "1.25.4"
    - uses: "actions/setup-python@v5"
      with:
        python-version: "3.14"
    - uses: "dtolnay/rust-toolchain@stable"
      with:
        toolchain: "1.92.0"
    - run: "echo \"${GITHUB_WORKSPACE}/bin\" >>\"$GITHUB_PATH\""
    - name: "provision dev tools"
      run: "make"
    - run: "./build audit"
